{% trans_default_domain 'FOSUserBundle' %}

{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" />
        </div>

        {#<div class="form-group checkbox">#}
        {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}#}
        {#</div>#}

        <button type="submit" class="btn btn-default">{{ 'security.login.submit'|trans }}</button>

        {#<div class="form-group">#}
        {#<input class="form-control" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
        {#</div>#}
    </form>

    <hr>

    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">Je n'ai pas de compte</a>
{% endblock fos_user_content %}
